.container {
  font-family: ui-sans-serif, system-ui, sans-serif;
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 10vh;
  padding: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

@media (min-width: 640px) {
  .container {
    padding: 3rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-row-start: 2;
  align-items: center;
}

@media (min-width: 640px) {
  .main {
    align-items: flex-start;
  }
}

.listsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
}
